EXPO_PUBLIC_REVENUECAT_PUBLIC_SDK_KEY=
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=entld49a272f13
EXPO_PUBLIC_REVENUECAT_MONTHLY_PACKAGE_ID=monthly
EXPO_PUBLIC_REVENUECAT_YEARLY_PACKAGE_ID=yearly
EXPO_PUBLIC_REVENUECAT_LIFETIME_PACKAGE_ID=lifetime
EXPO_PUBLIC_ENABLE_MOCK_PREMIUM=false
EXPO_PUBLIC_SAINTSLOCK_ENABLE_SCREEN_TIME=false
EXPO_PUBLIC_SAINTSLOCK_FORCE_MOCK_BLOCKER=false
